# Dependencies
node_modules/

# Environment files
.env
.env.*

# Build files
dist/
build/

# Logs
*.log

# Vite
.vite/

# Uploads
uploads/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db